# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/local.properties
android/app/google-services.json
android/key.properties

# FVM (D-05)
.fvm/flutter_sdk

# Editor / OS
.idea/
.vscode/
.DS_Store
*.iml
*.log
